@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color:rgb(201, 76, 76);
}

td.course_num
{
    font-family:monospace;
}

p,li,td,th {
    font-size:13pt;
}

h1,h2,h3,h4,h5,h6 {
    color:#003399
}

#navbar {
    background-color:rgb(139, 0, 0);
    margin-top:5px;
}

#banner {
    font-size:24pt;
    color:#ffffff;
    background-color:rgb(255, 69, 0);
}

#desc {
    background-color:#ffffff;
    color:#000000;
}

a.nav {
    color:#ffffff;
    font-size:12pt;
    font-weight:normal;
}

a.open_nav {
    color:#ffffff;
    font-size:18pt;
    font-weight:bold;
}

hr {
    color:#493607;
}

a.open_nav:hover {

}

a.nav:hover{
    color:rgb(178, 34, 34);
}

a:hover {
    color:rgb(165,42,42);
}

a {
    text-decoration:none;
    color:#ead037;
    font-weight:bold;
}

span {
    color:#ead037;
    font-weight:bold;
}

span.reading {
    color:#e31111;
    font-weight:normal;
}

span.tutorial {
    color:#e31111;
    font-weight:normal;
}

span.hw {
    color:#f4321d;
    font-weight:normal;
}

span.grading {
    color:#e31111;
    font-weight:bold;
}

td.highlight {
    background-color:#00ffff;
}

table.hws {
    border: 2px solid black;
    border-collapse:collapse;
}

th.hws {
    padding-right: 80px;
}

td.hws {
    padding-right:80px;
}

.office_hours_schedule td
{
    height:50px;
    text-align:center;
    font-weight:bold;
    background-color:#b20707;
}
td.time
{
    background-color:#f4ee62;
    color:black;
}
td.open
{
    background-color:#f03c28;
}
td.lecture
{
    background-color:#f20c0c;
}
td.recitation
{
    background-color:#f6f061;
}
td.tas
{
    width:260px;
}
.office_hours_schedule th
{
    background-color:#ea0808;
}
.email
{
    font-size:11pt;
    color:black;
    font-weight:normal;
}


.rec_0 {
    background-color:#f6957c;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}
.rec_1 {
    background-color:#fbf5b9;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #888888;
}
.rec_cell {
    padding: 10px 10px 10px 10px;
}
.ta_cell {
    padding: 5px 5px 10px 15px;
}
.ta_name {
    font-size:14pt;
    color: black;
}
.ta_email {
    font-size:10pt;
    color: rgb(0,0,80);
}

#instructor_data {
    font-size:14pt;
}

.instructor_photo {
    margin-left:30px;
}

.instructor_time {
    padding-left:20px;
}

.grading_total {
    background-color: rgb(255,190,150);
}